/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue62: hsla(204, 62%, 16%, 1);
    --blue64: hsla(204, 64%, 16%, 1);
    --blue67: hsla(204, 67%, 16%, 1);
    --blueopacity05: hsla(204, 64%, 16%, 0.5);
    --yellow: hsla(45, 90%, 62%, 1);
    --light: hsla(220, 100%, 96%, 1);
    --white: hsla(0, 0%, 100%, 1);
    ;
}

body {
    background-color: #E5E5E5;
    color: var(--blue64);
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
}

ul {
    list-style-type: none;
}

/* App */
.app-container {
    height: 100vh;
}

.app-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.app {
    background-color: var(--white);
    margin: auto;
    height: 850px;
    max-width: 400px;
    min-width: 375px;
    overflow: hidden;
}

/* first Div */
.hero-location {
    padding: 30px 35px 0;
}

.hero-location.flex {
    justify-content: space-between;
}

.location.flex {
    align-items: flex-start;
    flex-direction: column;
}

.location p:nth-child(1){
    color: var(--blueopacity05);
    font-size: 13px;
    font-weight: 400;
}

.location p:nth-child(2) {
    color: var(--blue64);
    font-size: 14px;
    font-weight: 700;
}

.hero-wrapper {
    border-radius: 50%;
    height: 44px;
    width: 44px;
}

.hero {
    background-image: url(Ellipse\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

/* second div */
.heading {
    color: var(--blue64);
    margin: 15px 0;
    padding-left: 35px;
    width: 70%;
}

.heading h1 {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.03em;
}

/* 3rd Div */
.slider-wrapper {
    height: 40px;
}
.slider {
    padding: 0 35px;
    overflow-x: scroll;
    white-space: nowrap;
    /* for ms */
    -ms-overflow-style: none;
}

/* this is for Chrome/Safari/Firefox and Opera */
.slider::-webkit-scrollbar {
    display: none;
}
.slider.flex {
    height: 100%;
    flex-direction: column;
}

.slider.flex ul:nth-child(1) {
    align-self: flex-start;
}

.slider li {
    display: inline-block;
}

.slider a {
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
}

.property-type {
    background-color: var(--light);
    color: var(--blue64);
}

.active-property-type {
    background-color: var(--blue64);
    color: var(--white);
}

.slider ul li {
    margin: 0 4px;
}

.slider ul li:nth-child(1) {
    margin-left: 0;
}

/* 4th Div */
.best {
    margin: 30px 0 10px;
    padding: 0 35px;
}

.best p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.03em;
}
/* 5th Div */
.slider-container {
    height: 312px;
}

.second-slider {
    height: 312px;
    display: flex;
    column-gap: 40px;
    padding: 0 35px;
    
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: visible;
    /* for ms */
    -ms-overflow-style: none;
}

/* this is for Chrome/Safari/Firefox and Opera */
.second-slider::-webkit-scrollbar {
    display: none;
}

/* ----Active Slider not active slider */
.active-slider {
    display: flex;
}

.not-active-slider {
    display: none;
}

/*------------------------------ images */
/* ---Homes */
.home1 {
    background-image: url(Subtract.png);
}
.home2 {
    background-image: url(home2.jpg);
}

.home3 {
    background-image: url(home3.jpg);
}
/* --------------------Apartment */
.apartment1 {
    background-image: url(apartment1.jpg);
}
.apartment2 {
    background-image: url(apartment2.jpg);
}

.apartment3 {
    background-image: url(apartment3.jpg);
}

/* --------------------Flat */
.flat1 {
    background-image: url(flat1.jpg);
}
.flat2 {
    background-image: url(flat2.jpg);
}
.flat3 {
    background-image: url(flat3.jpg);
}
/* -------Banglow */
.banglow1 {
    background-image: url(banglow1.jpg);
}
.banglow2 {
    background-image: url(banglow2.jpg);
}
.banglow3 {
    background-image: url(banglow3.jpg);
}
/* ----------Nearby images */
.nearby1 {
    background-image: url(nearby1.jpg);
    border-radius: 12px 0 0 12px;
}
.nearby2 {
    background-image: url(nearby2.jpg);
    border-radius: 12px 0 0 12px;
}
.nearby3 {
    background-image: url(nearby3.jpg);
    border-radius: 12px 0 0 12px;
}
.nearby4 {
    background-image: url(nearby4.jpg);
    border-radius: 12px 0 0 12px;
}




.item {
    background-repeat: no-repeat;
    background-size: 100% 70%;
    /* background-size: contain; */
    border-radius: 21px;
    height: 98%;
    width: 305px;
}

.item-child {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    position: relative;
}

.item-grandChild {
    background-color: var(--blue67);
    border-radius: 0 0 21px 21px;
    padding: 15px 20px;
    width: 100%;
}

.item .item-child p:nth-child(1) {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.item .item-child p:nth-child(2) {
    color: hsla(0, 0%, 100%, 0.42);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.03em;
    margin: 3px 0 5px;
}

.item-footer.flex {
    justify-content: flex-start;
    gap: 12px;
}

.item-footer .flex {
    align-items: flex-start;
    gap: 8px;
}

.item-footer i {
    color: var(--yellow);
    font-size: 20px;
}

.item-footer p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.03em;

}

/* ---------------------------------------6th Div */

.nearby {
    margin: 15px 0 10px;
    padding: 0 35px;
}

.nearby h1 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.03em;

}

/* --------------------------------7th Div */
.nearby-container {
    height: 100px;
    margin: 10px 35px 45px;
}

.nearby-slider {
    height: 100%;
}


.nearby-container .active-slider {
    display: initial;
}
.nearby-flats {
    background-color: var(--light);
    border-radius: 12px 0 0 12px;
    height: 100px;
}

.nearby-flats.flex {
    justify-content: flex-start;
    gap: 12px;
}

.nearby-flats-half-left {
    /* background-image: url(Rectangle\ 9.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100px;
}

.nearby-flats-half-right p:nth-child(1) {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.nearby-flats-half-right p:nth-child(2){
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.03em;
    margin: 5px 0 4px;
}

.nearby-flats-haf-right-content.flex {
    gap: 10px;
}

.nearby-flats-haf-right-content .flex {
    gap: 5px;
}

.nearby-flats-haf-right-content .flex p{
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: -0.03em;
}

.nearby-flats-haf-right-content .flex i {
    color: var(--yellow);
}

/*--------------------------------------- 8th div */
.footer {
    background-color: var(--blue64);
    height: 100vh;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
